.*.swp
*.o
*.lo
*.a
*.la
*.lai
*.exe

.libs/

/frontends/kconfig
/frontends/conf/kconfig-conf
/frontends/gconf/kconfig-gconf
/frontends/mconf/kconfig-mconf
/frontends/nconf/kconfig-nconf
/frontends/qconf/kconfig-qconf
/frontends/qconf/qconf.moc

/libs/images/images.c
/libs/images/images.h
/libs/parser/hconf.c
/libs/parser/lconf.c
/libs/parser/yconf.c

/utils/kconfig-tweak
/utils/kconfig-gettext

aclocal.m4
configure
config.log
config.status
libtool

Makefile
Makefile.in
stamp-h1

.deps/
/autom4te.cache/
/scripts/.autostuff
.dirstamp

kconfig-frontends-*.tar*
kconfig-frontends-*.shar*
kconfig-frontends-*.zip
